@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "PortfolioInsert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Proje Ekle</h4>

            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input type="text" class="form-control" name="ProjectName">
                </div>

               
                <div class="form-group">
                    <label for="exampleInputName1">Projenin url</label>
                    <input type="text" class="form-control" name="ProjectUrl">
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">Kullanılan Platform</label>
                    <input type="text" class="form-control" name="Platform">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Ücreti</label>
                    <input type="text" class="form-control" name="Price">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yapılma oranı</label>
                    <input type="text" class="form-control" name="Value">
                </div>


                <div class="form-group">
                    <label for="exampleInputName1">Resim1 Ekle</label>
                    <input type="text" class="form-control" name="ExperienceImageUrl">
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">Resim1 Ekle</label>
                    <input type="text" class="form-control" name="ExperienceImageUrl2">
                </div>






                <button type="submit" class="btn btn-primary mr-2">Ekle</button>
                <a href="/Portfolio/Index/" class="btn btn-dark">Geri Dön</a>
            </form>
        </div>
    </div>
</div>

@* <div class="form-group">
    <label for="exampleTextarea1">Proje Url</label>
    <textarea class="form-control" name="ProjectImageUrl" rows="4"></textarea>
</div> *@

@*     <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div> *@

