
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">


            <li class="nav-item">
                <a class="nav-link" href="../../index.html">
                    <i class="mdi mdi-view-dashboard menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../../messages.html">
                    <i class="mdi mdi-email menu-icon"></i>
                    <span class="menu-title">Mesajlar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../../tables.html">
                    <i class="mdi mdi-table menu-icon"></i>
                    <span class="menu-title">Tablolar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../../profile.html">
                    <i class="mdi mdi-account-circle menu-icon"></i>
                    <span class="menu-title">Profil</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../../settings.html">
                    <i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">Ayarlar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../../logout.html">
                    <i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </li>



        </ul>
    </nav>
   
