@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hizmet Tablosu</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Başlık </th>
                            <th> Resim </th>
                            <th> Sil </th>
                            <th> Güncelle </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.ServiceID </td>
                                <td> @item.ServiceTitle </td>
                                <td> @item.ServiceImageUrl </td>

                                <td> <a href="/Service/ServiceDelete/@item.ServiceID" class="btn btn-outline-danger">Sil</a>  </td>
                                <td> <a href="/Service/ServiceUpdate/@item.ServiceID" class="btn btn-outline-warning">Güncelle</a>  </td>

                            </tr>
                        }


                    </tbody>

                </table>
                <br />
                <a href="/Service/ServiceInsert/" class="btn btn-outline-primary">Yeni İş Kolu Ekle</a>
            </div>
        </div>
    </div>
</div>

